/* Dependancies */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Press+Start+2P&display=swap');
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  ;
  color: white;
  transition: .5s;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

/*HEADER*/
body{
  margin: 0px;
}

header{
  background-color: #333333;
  width: auto;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header #logo{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px 15px 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
}

header #logo img{
  width: 30px;
  height: 30px;
}

header #logo div{
  font-family: 'Press Start 2P', cursive;
  font-size: 10pt;
  color: black;
}

header nav{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

header nav a{
  color: white;
  border: 2px solid transparent;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12pt;
  text-decoration: none;
  transition: .2s;
}

header nav a:hover{
  border-bottom: 2px solid white;
  transition: .2s
}

header nav #current{
  border-bottom: 2px solid rgb(0, 0, 180);
}

header #profile{
  width: 250px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

header #profile img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

/* Body */
#body{
  width: auto;
  min-height: calc(100vh - 218px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #060E23;
  padding: 30px 0px;
}

#body #container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#body #container #canvas-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border: 10px solid #333333;
  border-radius: 10px;
  background-color: white;
}

#body #container #sidebar{
  background-color: #333333;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 10px solid #333333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#body #container #sidebar .pickr{
  display: none;
}

#body #container #sidebar .pcr-app{
  background-color: #333333;
  box-shadow: none;
}

#body #container #sidebar .pcr-app .pcr-swatches{
  justify-content: center;
}

#body #container #sidebar .pcr-interaction .pcr-save{
  border-radius: 25px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid white;
  width: fit-content;
  min-width: 80px;
  height: fit-content;
  font-family: 'Noto Sans', sans-serif;
  font-size: 7pt;
}

#body #container #sidebar .pcr-interaction .pcr-result{
  border-radius: 25px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid white;
  width: fit-content;
  min-width: 80px;
  height: fit-content;
  font-family: 'Noto Sans', sans-serif;
  font-size: 7pt;
  color: white;
  text-align: center;
}

#body #container #sidebar #switches{
  display: flex;
  gap: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#body #container #sidebar #switches #dropper:hover{
  color: rgb(42, 253, 253);
  transition: .5s;
  cursor: pointer;
}

#body #container #sidebar #switches #toggle-grid:hover{
  color: rgb(253, 179, 42);
  transition: .5s;
  cursor: pointer;
}

#body #container #sidebar #switches #delete:hover{
  color: rgb(255, 0, 0);
  transition: .5s;
  cursor: pointer;
}

#body #container #sidebar #buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#body #container #sidebar #buttons .button{
  border-radius: 25px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid white;
  width: fit-content;
  min-width: 80px;
  height: fit-content;
  font-family: 'Noto Sans', sans-serif;
  font-size: 7pt;
  color: white;
  text-align: center;
  transition: .5s;
}
#body #container #sidebar #buttons .button:hover{
  transition: .5s;
  background-color: white;
  border: 2px solid white;
  color: black;
  cursor: pointer;
}

/* FOOTER */
footer{
  width: auto;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

footer .footertext{
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  font-size: 9pt;
  color: #999999;
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  padding-bottom: 100px;
}
.wrapper{
  display: inline-block;
  width: 500px;
  vertical-align: top;
}
.sideBar{
  display: flex;
  vertical-align: top;
  min-height: 20px;
  padding: 5px;
  background: #ccc;
  margin-bottom: 5px;
}
.sideBar:first-of-type{
  display: block;
}
#recentColors{
  display: flex;
  flex-wrap: wrap;
}
.color{
  width: 40px;
  height: 40px;
  background: black;
  margin: 10px;
}

.bar{
  width: 100%;
  height: 40px;
}
.button{

  margin: 10px;
}
.tool{
  margin: 10px;
}
.logo{
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Press Start 2P', cursive;
  padding: 20px 0;
}
.logo1{
  font-weight: 100;
}
.examplepunk{
  display: inline-block;
}
#previewColor{
  background: black;
  height: 20px;
  width: 60px;
}

.pcr-button{
  display:none;
}
*/

