/* Dependancies */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Press+Start+2P&display=swap');
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  ;
  color: white;
}

/*HEADER*/
body{
  margin: 0px;
}

header{
  background-color: #333333;
  width: auto;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header #logo{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px 15px 10px 20px;
  border-radius: 50px;
  background-color: white;
}

header #logo img{
  width: 30px;
  height: 30px;
}

header #logo div{
  font-family: 'Press Start 2P', cursive;
  font-size: 10pt;
  color: black;
}

header nav{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

header nav a{
  color: white;
  border: 2px solid transparent;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12pt;
  text-decoration: none;
  transition: .2s;
}

header nav a:hover{
  border-bottom: 2px solid white;
  transition: .2s
}

header nav #current{
  border-bottom: 2px solid rgb(0, 0, 180);
}

header #profile{
  width: 250px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

header #profile img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
/*END_HEADER*/

/*BODY*/
#body{
  width: auto;
  min-height: calc(100vh - 218px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #060E23;
  padding: 30px 0px;
}

#body #stats{
  width: 980px;
  height: 300px;
  background-color: #333333;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 60px;
}

#body #stats img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-left: 50px;
}

#body #stats #container{
  position: relative;
  display: flex;
  flex-direction: column;
}

#body #stats #container h1{
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

#body #stats #container .stat{
  font-size: 12pt;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

#body #buttons{
  width: 980px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#body #buttons .tile{
  width: 300px;
  height: 65px;
  border-radius: 30px;
  border: 3px solid white;
  transition: .5s;
}

#body #buttons .tile:hover{
  width: 300px;
  height: 65px;
  border-radius: 30px;
  border: 3px solid #333333;
  background-color: #333333;
  transition: .5s;
  cursor: pointer;
}

#body #buttons .tile h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 12pt;
  color: white;
  position: relative;
  top: 16px;
  left: 35px;
}

#body #buttons .tile .material-symbols-outlined{
  position: relative;
  top: -16px;
  left: 250px;
}

/* FOOTER */
footer{
  width: auto;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

footer .footertext{
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  font-size: 9pt;
  color: #999999;
}