@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  margin: 0px;
  font-family: 'Press Start 2P', cursive;
}

header{
  background-image: url('../assets/background.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nameplate{
  margin: 100px 0px 20px 0px;
  width: 60%;
  min-width: 1500px;
  height: auto;
  display: grid;
  grid-template: 2fr 1fr 2fr / 1fr 2fr 2fr;
}

#nameplate img{
  margin: 40px;
  max-height: 300px;
  grid-area: 1 / 1 / -1 / 2;
  border: 6px solid white; 
  border-radius: 100%;
}

#nameplate-welcome{
  grid-area: 1 / 2 / 2 / -1;
  color: white;
  font-size: 3em;
  margin: 70px 0px 0px 0px;
}
#nameplate-balance-label{
  grid-area: 2 / 2 / 3 / 3;
  color: white;
  font-size: 1.5em;
  margin: 20px 0px;
}
#nameplate-balance{
  grid-area: 3 / 2 / -1 / 3;
  color: white;
  font-size: 5em;
  margin: 10px 50px 0px 0px;
}
#nameplate-cryptos-label{
  grid-area: 2 / 3 / 3 / -1;
  color: white;
  font-size: 1.5em;
  margin: 20px 0px;
}
#nameplate-cryptos{
  grid-area: 3 / 3 / -1 / -1;
  color: white;
  font-size: 5em;
  margin: 10px 0px;
}

header button{
  transition: .5s;
  margin: 20px 0px;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 75px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: #fb7390;
  font: inherit;
  box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

header button:hover{
  transition: .5s;
  background-color: #fb7390;
  color: white;
}
header button:hover > #pencil {
  transition: .5s;
  filter: brightness(500%)
}

header button img{
  max-width: 100%;
  max-height: 100%;
}

header button span{
  font-size: 1em;
  align-self: center;
}

h1{
  width: auto;
  text-align: center;
  font-size: 4em;
  margin: 100px;
}

#right-now{
  margin: auto;
  display: flex;
  width: 70%;
  flex-direction: column;
  min-height: 800px;
}

#right-now .tile{
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.gray{
  background-color: rgb(219, 219, 219);
}

#right-now .tile img {
  border: 3px solid black; 
  border-radius: 100%;
  margin: 20px;
  max-height: 80px;
}

#right-now .tile .tile-text{
  color: black;
  font-size: 1em;
  align-self: center;
}

#marketplace{
  width: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
}

#marketplace .tile{
  padding: 20px;
  width: 20%;
  min-height: 700px;
  background-color: white;
  box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.25);
}

#marketplace .tile img{
  max-width: 100%;
  max-height: 100%;
}

footer{
  min-height: 200px;
}

.blank{
  display: none;
}