@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  margin: 50px;
  font-family: 'Press Start 2P', cursive;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nameplate {
  border: 2px solid black; /* debug */
  padding: 40px;
  height: auto;
  display: grid;
  grid-template: repeat(3, 1fr 2fr) / 1fr 2fr 2fr;
}

#nameplate img {
  margin-right: 40px;
  max-height: 17em;
  grid-area: 1 / 1 / -1 / 2;
  border: 6px solid black;
  border-radius: 100%;
}

.label {
  font-size: 1.5em;
}