@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
    font-family: minecraft;
    src:url("MinecraftRegular-Bmg3.otf");
}
body{
  width: 100%;
  font-family: minecraft;
  font-size: 1.25rem;
  text-align: center;
  color: white;
  margin: 0;
  min-height: 100%;
}
h1{
  font-family: "Press Start 2P";
  font-size: 2.5rem;
  padding: 20px 0;
}

#credScreen{
  background: #ddd;
  color: #222;
  width: 350px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  border-radius: 2px;
}
.credTab {
  grid-column: 1/2;
  padding: 20px 0;
  width: 100%;
  color: #ccc;
  border-radius: 2px 0 0 0;
  background: #444;
}
.credTab:nth-of-type(2) {
  grid-column: 2/3;
  border-radius: 0 2px 0 0;
  background: #ddd;
  color: #444;
}
.fieldTitle{
  grid-column: 1/2;
  text-align: left;
  padding-left: 10px;
  transition: .1s;
  color: #444;
  height: 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: end;
  font-size: 0.85rem;
}
.fieldTitle span{
  grid-row: 1/2;
  grid-column: 1/2;
}
.credField{
  grid-column: 1/3;
  background: #bbb;
  padding: 8px 10px;
  border-radius: 2px;
  transition: .1s;
  border: 3px solid transparent;
  margin: 2px auto;
  margin-bottom: 15px;
  width: 90%;
}
.credField:focus{
  border-bottom: 3px solid royalblue;
  outline: none;
  background: white;
}
.spacer{
  grid-column: 1/3;
  height: 35px;
}
#message{
  grid-column: 1/3;
  justify-self: center;
  height: 20px;
  padding: 10px 0 25px 0;
  color: rgb(192, 90, 72);
  font-size: 1.05rem;
}
#submit{
  grid-column: 1/3;
  width: 100px;
  justify-self: center;
  margin-bottom: 10px;
  border: none;
  padding: 10px;
  font-family: minecraft;
  font-size: 1.25rem;
  background: #aaa;
  border-radius: 2px;
  height: 40px;
  transition: .1s;
  color: #444;
}
#submit:hover{
  background: white;
  color: black;
}

#credScreen{
  opacity: 1;
  margin-top: 0px;
}
#pageTitle a {
  color: white;
  text-decoration: none;
}