/* Dependancies */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Press+Start+2P&display=swap');
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  ;
  color: white;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
  }

/*HEADER*/
body{
  margin: 0px;
}

header{
  background-color: #333333;
  width: auto;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header #logo{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px 15px 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
}

header #logo img{
  width: 30px;
  height: 30px;
}

header #logo div{
  font-family: 'Press Start 2P', cursive;
  font-size: 10pt;
  color: black;
}

header nav{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

header nav a{
  color: white;
  border: 2px solid transparent;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12pt;
  text-decoration: none;
  transition: .2s;
}

header nav a:hover{
  border-bottom: 2px solid white;
  transition: .2s
}

header nav #current{
  border-bottom: 2px solid rgb(0, 0, 180);
}

header #profile{
  width: 250px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

header #profile img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
/*END_HEADER*/

/*BODY*/
#body{
  width: auto;
  min-height: calc(100vh - 218px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 30px;
  background-color: #060E23;
  padding: 30px 0px;
}

#body #header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 700px;
}

#body #header h1{
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 20pt;
}

#body #header #balance{
  color: rgb(76, 207, 76);
  font-family: 'Press Start 2P', cursive;
  font-size: 10pt;
}

#body #header #filter{
  background-color: transparent;
  border: none;
  color: white;
}

/* Tiles */
#body #tiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  height: fit-content;
  justify-content: center;
  gap: 20px
}

#body #tiles #tile{
  color: white;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  width: 240px;
  height: 240px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

#body #tiles #tile img{
  max-width: 100%;
  max-height: 100%;
}

#body #tiles #tile #name{
  position: absolute;
  top: 10px;
  left: 10px;
}

#body #tiles #tile #value{
  position: absolute;
  top: 30px;
  left: 10px;
  color:rgb(76, 207, 76);
}

#body #tiles #tile .material-symbols-rounded{
  font-size: 40px;
  position: absolute;
  top: calc(120px - (40px/2));
  left: calc(120px - (40px/2));
}

/* Overlay */
#overlay{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  backdrop-filter: blur(10px);
}

#overlay #container{
  position: relative;
  flex-direction: column;
  width: 700px;
  height: 400px;
  border-radius: 25px;
  border: 2px solid white;
  font-family: 'Press Start 2P', cursive;
  color: white;
  padding: 15px;
  
}

#overlay #container #close{
  position: absolute;
  top: 15px;
  left: 680px;
  width: fit-content;
  height: fit-content;
  font-size: 15pt;
  transition: .5s;
  border: 2px solid white;
  border-radius: 100%;
  padding: 5px;
  color: white;
  cursor: pointer;
}

#overlay #container #close:hover{
  transition: .5s;
  color: red;
  border-color: red;
}

#overlay #container #art {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #060E23;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.25);
}

#overlay #container #stats {
  position: absolute;
  top: 30px;
  left: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
}

#overlay #container #stats .item{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#overlay #container #stats .item .title{
  color: rgb(255, 0, 0);
  font-size: 11pt;
}

#overlay #container #stats .item .value{
  font-size: 13pt;
}

#overlay #container #stats #createdItem{
  grid-column: 1 / -1;
}

#overlay #container #eventsTitle {
  position: relative;
  top: 225px;
  left: 0px;
  font-size: 15pt;
}

#overlay #container #events {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 235px;
  left: 0px;
  width: 100%;
  height: fit-content;
}

#overlay #container #events .tile {
  border: 1px solid white;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#overlay #container #events .tile #buttons{
  display: flex;
  gap: 5px;
}

#overlay #container #events .tile #buttons #done{
  width: fit-content;
  height: fit-content;
  font-size: 10pt;
  border: 2px solid rgb(76, 207, 76);
  color: rgb(76, 207, 76);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  gap: 5px;
  transition: .5s;
}

#overlay #container #events .tile #buttons #done .material-symbols-rounded{
  color: inherit;
}

#overlay #container #events .tile #buttons #done:hover{
  transition: .5s;
  background-color: rgb(76, 207, 76);
  border: 2px solid rgb(76, 207, 76);
  color: white;
  cursor: pointer;
}

#overlay #container #events .tile #buttons #close{
  width: fit-content;
  height: fit-content;
  font-size: 10pt;
  border: 2px solid red;
  color: red;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  gap: 5px;
  transition: .5s;
  position: static;
}

#overlay #container #events .tile #buttons #close .material-symbols-rounded{
  color: inherit;
}

#overlay #container #events .tile #buttons #close:hover{
  transition: .5s;
  background-color: red;
  border: 2px solid red;
  color: white;
  cursor: pointer;
}

/* FOOTER */
footer{
  width: auto;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

footer .footertext{
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  font-size: 9pt;
  color: #999999;
}